name: CI

on:
  push:
  pull_request:

env:
  RUBY_VERSION: 2.7.2

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - name: Run Unit Tests
        run: bundle exec rake spec

      - name: Run Linter
        run: bundle exec danger plugins lint
